/* Roboto-Bold */
@font-face {
    font-family: 'Roboto Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url(http://allfont.ru/cache/fonts/roboto-bold_aa865d37ee4a1cbd58a4f1c027933149.woff) format('woff'),
        url(http://allfont.ru/cache/fonts/roboto-bold_aa865d37ee4a1cbd58a4f1c027933149.ttf) format('truetype');
}
/* Roboto-Light */
@font-face {
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Light'), local('RobotoLt-Regular'),
        url(http://allfont.ru/cache/fonts/roboto-light_85c220ba059dfba8286cf7085f2f591f.woff) format('woff'),
        url(http://allfont.ru/cache/fonts/roboto-light_85c220ba059dfba8286cf7085f2f591f.ttf) format('truetype');
}
/* Roboto-Regular */
@font-face {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'),
        url(http://allfont.ru/cache/fonts/roboto-regular_930678068cb1bea8d60f8083f9dab81d.woff) format('woff'),
        url(http://allfont.ru/cache/fonts/roboto-regular_930678068cb1bea8d60f8083f9dab81d.ttf) format('truetype');
}
/* Mason Chronicles */
@font-face {
    font-family: 'MasonChronicles';
    font-style: normal;
    font-weight: 400;
    src: local('MasonChronicles'), local('MasonChronicles-Regular'),
        url(http://www.allfont.es/cache/fonts/masonchronicles_779e00bdef0de7500cc808aedc789901.woff) format('woff'),
        url(http://www.allfont.es/cache/fonts/masonchronicles_779e00bdef0de7500cc808aedc789901.ttf) format('truetype');
}