/* Roboto-Bold */
@font-face {
    font-family: 'Roboto Bold';
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url(https://github.com/EvaBern/eva-bern.github.io/blob/master/fonts/Roboto-Bold.woff2) format('woff2'),
        }
/* Roboto-Light */
@font-face {
    font-family: 'Roboto Light';
    font-weight: 400;
    src: local('Roboto Light'), local('RobotoLt-Regular'),
        url(https://github.com/EvaBern/eva-bern.github.io/blob/master/fonts/Roboto-Light.woff2) format('woff2'),
       }
/* Roboto-Regular */
@font-face {
    font-family: 'Roboto Regular';
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'),
        url(https://github.com/EvaBern/eva-bern.github.io/blob/master/fonts/Roboto-Regular.woff2) format('woff2'),
}
/* Mason Chronicles */
@font-face {
    font-family: 'MasonChronicles';
    font-weight: 400;
    src: local('MasonChronicles'), local('MasonChronicles-Regular'),
                url(https://github.com/EvaBern/eva-bern.github.io/blob/master/fonts/Mason%20Chronicles.ttf) format('truetype');
}