/* Основные параметры */
body {color: #DCDCDC;
  background: #000000;
  font-size: 18px;
  font-family: "Roboto Regular";
  }
h1 {width: 48%;
  font-family: "Mason Chronicles";
  font-size: 48px;
  text-align: right;
  }
h2 {width: 48%;
  Font-family: "Roboto Light";
  font-size: 32px;
  text-align: right;
}
h3 {font-size: 32px;
font-family: "Mason Chronicles";
   text-align: center;
}
/* Блок 2 - "обложка" */
.backpic1 {background-image: url(https://raw.githubusercontent.com/EvaBern/eva-bern.github.io/master/img/mainfirst.jpg);
 background-size: cover;
 height: 400px;
}
.box1 {padding-top: 180px;
  color: #fffefb;
}
/* Подложка под основнуючасть страницы */
.backpic2 {background-image: url(https://raw.githubusercontent.com/EvaBern/eva-bern.github.io/master/img/full.jpg);
 background-size: 15%;
 }
/* Общий для Блоков 3 и 4 флекс */
.flex-container {
  display: flex;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: space-evenly;
}
/* Варианты уточнений флекса */
.wrap-reverse         { 
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  align-items: center;
}
.wrap{flex-wrap: wrap;
  align-items:flex-start;
  justify-content: space-around;
  }
/* Блок 3 - "краткое описание игры + картиночка" */
.padding-top-bottom{padding-top: 50px;
  padding-bottom: 50px;
}
.aboutgame {width: 45%;
  font-size: 24px;
  margin-right: 0px;
  }
.firstpic {width: 720px;
}
/* Блок 4 - "актеры озвучки" */
.character {width: 320px; 
 }
.actorname{font-size: 26px;
  text-align: center;
  font-family: "Roboto Regular";
  }
.portret{width: 250px;
  position:relative;
  margin: auto;
  }
/* Легкий наезд верхом плашечки на фото - специально. Отображение смотрела в яндекс браузере. А вот в хроме отображается иначе, некорректно: плашки уезжают вправо. Это косяк?  */
.portret span {
  color: #FFA500;
  font-size: 22px;
  background-color: #1d2325;
  padding-top: 10px;
  padding-right:20px;
  padding-bottom: 10px;
  padding-left: 20px;
  opacity: 0.9;
}
/* Шрифты про которые я не понимаю, работают ли они, если не установлены на комп (Мне кажется, Roboto работает, а Mason Chronicles - нет) */
  /* Roboto-Light */
@font-face {font-family: 'Roboto Light';
    font-weight: 400;
    src: local('Roboto Light'), local('RobotoLt-Regular'),
        url(https://github.com/EvaBern/eva-bern.github.io/blob/master/fonts/Roboto-Bold.woff2?raw=true) format('woff2')
       }
/* Roboto-Regular */
@font-face {font-family: 'Roboto Regular';
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'),
        url(https://github.com/EvaBern/eva-bern.github.io/blob/master/fonts/Roboto-Regular.woff2?raw=true) format('woff2')
}
/* Mason Chronicles */
@font-face {font-family: 'MasonChronicles';
    font-weight: 400;
    src: local('MasonChronicles'), local('MasonChronicles-Regular'),
                url(https://github.com/EvaBern/eva-bern.github.io/blob/master/fonts/Mason%20Chronicles.ttf?raw=true) format('truetype'),
url(https://github.com/EvaBern/eva-bern.github.io/blob/master/fonts/masonchronicle.woff?raw=true) format('woff')
      /* Mason Chronicles в woff2 не нашла, системная замена в принципе устраивает, но не понимаю, почему не ставится шрифт*/
}